name: KICS Scan

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  kics:
    name: Kics Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - name: run kics Scan
        uses: checkmarx/kics-github-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: "."
          ignore_on_exit: results
          enable_annotations: true
          enable_comments: true
          enable_jobs_summary: true
          comments_with_queries: true
          output_path: ./results
          output_formats: json
      - name: Display results
        run: |
          cat ./results/results.json
